<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name ="characterisation"
			 connectionString="Data Source=V-COOL-APP1\COOLLED;Initial Catalog=characterisation;User Id=coolledrw;Password=99bapJog;Encrypt=False"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>