<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="PathData" value="Q:\Life Sciences &amp; Analytical\PRODUCT CHARACTERISATION DATA\DATA"/>
		<add key="PathBackup" value="Q:\Life Sciences &amp; Analytical\PRODUCT CHARACTERISATION DATA\DATA"/>
		<add key="PathCalFile" value="Q:\Life Sciences &amp; Analytical\PRODUCTION ENGINEERING\Equipment Records\Equipment\EQ144 - Spectrometer\EQ144-01-08-22-CAL_OOIIrrad.cal"/>
		<add key="SpectrometerName" value="USB2000PLUS"/>
		<add key="SpectrometerSerialNo" value="SN12345"/>
	</appSettings>
	<connectionStrings>
		<add name ="characterisation"
			 connectionString="Data Source=V-COOL-APP1\COOLLED;Initial Catalog=characterisation;Integrated Security=True;Encrypt=False"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>